html body{
    box-sizing: border-box;
    margin: 0%;
   padding: 0%;
   border: 0px;
   width: 100vw;
   min-height: 100vh;
   overflow: auto;
   background-color: black !important;
   vertical-align: middle;
    }
    
   