
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

 
    
 </head>

  <body>

    <header>

      <div class='hea'>
        <div>
          <p >Phone: 763-09-4657 / avaliable 24 hours</p>
         
        </div>
      
        <div> <p>Language</p></div>
      </div>
    

    </header>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">

      <div class="container">
      <a class="navbar-brand" href="#">sbElectronics</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop-now">Shop Now</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>

        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <i class="fas fa-search"></i><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <a style="margin: 2%; font-family:sans-serif;" routerLink="login">Login</a>
        <a style="margin: 2%; font-family:sans-serif;" routerLink="register">Register</a>
        <button routerLink="cart"  class="btn btn-success"> <span>0 </span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>  Checkout</button>

      </div>
     
      </div>
      
    

    </nav>




      
   

<router-outlet> 
</router-outlet> 

    








  </body>
</html>
