html body{

  }
  

 
/* body {
    padding-top: 56px;
  } */

.card{

    max-width:100%;
    max-height: inherit
}


a{
  cursor: pointer;
}
.added{

  color:green;
}

.is_there{
  color:red
}


@media screen and (max-width: 700px) {
	* {
		 font-size: small;
		 font-size: 10px;
	}


	.con{

		max-width: 95% !important;
		margin-top:15% !important;
	}

	.btn{

		font-size: 3px;
	}

	img{

    max-width: 30%;
    display:block;
    margin-left: auto;
    margin-right: auto;
	}


  }