<div class="container register-form">
    <div class="form">
        <div class="note">
            <h3>Registration</h3>
        </div>


        <form  [formGroup]="formFer" class="form-content" (ngSubmit)="register()" novalidate>
                    <p style="color:red; text-align:center" *ngIf="not_match">Password not match</p>
                    <p style="color:green; text-align:center" *ngIf="registered">Successfully Registered, you're being redirected........... </p>
                    <p style="color:red; tex-align:center" *ngIf="error">Sorry, we're experincing a database error, </p>

                   

            <div class="row" >
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name "  formControlName="name" autocomplete="on" />
                       <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('name').touched && formFer.get('name').invalid">
                            <p style="color:red; display:inline" *ngIf="formFer.get('name').errors.required">Name is Required</p>
                            <p style="color:red; display:inline" *ngIf="formFer.get('name').errors.minlength">Invalid minlength</p> <div></div>
                            <p style="color:red; display:inline" *ngIf="formFer.get('name').errors.maxlength">Invalid maxlength</p>

                         </div>
                        
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email "  formControlName="email"  autocomplete="on"/>
                        <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('email').touched && formFer.get('email').invalid">
                            <p style="color:red; display:inline" *ngIf="formFer.get('email').errors.required">Email is Required</p><div></div>
                            <p style="color:red; display:inline" *ngIf="formFer.get('email').errors.minlength">Invalid minlength</p> <div></div>
                            <p style="color:red; display:inline" *ngIf="formFer.get('email').errors.maxlength">Invalid maxlength</p> <div></div>
                            <p style="color:red; display:inline" *ngIf="formFer.get('email').errors.pattern">Invalid patterns</p>


                         </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Your Password "  formControlName="password"  autocomplete="on"/>
                        <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('password').touched && formFer.get('password').invalid">
                            <p style="color:red; display:inline" *ngIf="formFer.get('password').errors.required">Password is Required</p>
                            <p style="color:red; display:inline" *ngIf="formFer.get('password').errors.minlength">Invalid minlength</p> <div></div>
                            <p style="color:red; display:inline" *ngIf="formFer.get('password').errors.maxlength">Invalid maxlength</p>
                    
                         </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password "  formControlName="confirm"  autocomplete="on"/>
                        <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('confirm').touched && formFer.get('confirm').invalid">
                            <p style="color:red; display:inline" *ngIf="formFer.get('confirm').errors.required">Comfirmation is Required</p>
                    
                         </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn  btn-success"  [disabled]="formFer.invalid"  value="Register">
            <button style="float:left; position:absolute; right:25%" type="button" routerLink="/home" class="btn btn-info" >Home</button>

        </form>
    </div>
</div>